<div class="page">
  <div class="container">
    <div class="header">
      <h1>Мои записи</h1>

      <div class="actions">
        <button class="back" (click)="back()">Назад</button>
        <button class="logout" (click)="logout()">Выйти</button>
      </div>
    </div>

    @if (isLoading()) {
      <p class="info">Загрузка...</p>
    }

    @if (errorMessage()) {
      <p class="error">{{ errorMessage() }}</p>
    }

    @if (!isLoading() && bookings().length === 0) {
      <p class="empty">У вас пока нет записей</p>
    }

    <div class="grid">
      @for (booking of bookings(); track booking.id) {
        <div class="card">
          <div class="card-header">
            <h3>
              {{ booking.doctorSlotWithDoctorResponse.doctorResponse.firstName }}
              {{ booking.doctorSlotWithDoctorResponse.doctorResponse.lastName }}
            </h3>

            <span class="status"
                  [class.active]="booking.bookingStatus === 'Active'"
                  [class.cancelled]="booking.bookingStatus === 'Cancelled'"
                  [class.completed]="booking.bookingStatus === 'Completed'">
              {{ booking.bookingStatus }}
            </span>
          </div>

          <div class="meta">
            <span>Дата:</span>
            <strong>{{ booking.doctorSlotWithDoctorResponse.date }}</strong>
          </div>

          <div class="meta">
            <span>Время:</span>
            <strong>
              {{ booking.doctorSlotWithDoctorResponse.startTime }}
              -
              {{ booking.doctorSlotWithDoctorResponse.endTime }}
            </strong>
          </div>

          <div class="meta">
            <span>Опыт работы:</span>
            <strong>
              {{ booking.doctorSlotWithDoctorResponse.doctorResponse.experienceYears }} лет
            </strong>
          </div>

          <div class="meta">
            <span>Пол:</span>
            <strong>
              {{ booking.doctorSlotWithDoctorResponse.doctorResponse.genderType }}
            </strong>
          </div>
        </div>
      }
    </div>
  </div>
</div>