<div class="page">
  <div class="container">
    <div class="header">
        <h1>Добро пожаловать</h1>
        <div class="actions">
            @if (isLogin()) {
                @if (isAdmin()) {
                    <button class="users" (click)="users()">Пользователи</button>
                }
                @if (isAdmin() ||  isPatient()) {
                    <button class="add" (click)="specialties()">Записаться к врачу</button>
                }
                @if (isDoctor()) {
                    <button class="add" (click)="mySlots()">Мои слоты</button>
                }
                @if (isPatient()) {
                    <button class="users" (click)="myBookings()">Мои записи</button>
                }
                <button class="logout" (click)="logout()">Выйти</button>
            }
            @else {
                <button class="add" (click)="login()">Login</button>
                <button class="users" (click)="register()">Register</button>
            }
        </div>
    </div>

    <p class="subtitle">Запишитесь к врачу быстро и удобно</p>
  </div>
</div>